{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Declaration</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/declaration.css' %}">#}
</head>
<body>
<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="/admin/">Portail Client</a></h1>
    </div>
    <div id="user-tools">
        Bienvenue,
        <strong>{{ user.username }}</strong>.
        <a href="/">Voir le site</a> /
        <a href="/admin/password_change/">Modifier le mot de passe</a> /
        <a href="/admin/logout/">Déconnexion</a>
    </div>
</div>
<div class="breadcrumbs">
<a href="/client/">Accueil</a>
> Preferences
</div>

{% block content %}

{% endblock %}

</body>
</html>