{% extends 'client/declaration_base.html' %}
{% block coordonees %}

<h2 class="alignleft"><br><b>S O U S C R I P T E U R</b></h2>
    <div style="clear: both;"></div>
<div id="textbox">
    <p class="alignleft">
        {{ declaration.client.nom|title }} {{ declaration.client.prenom|title }}<br/>
        {{ declaration.client.email|title }}<br/>
        {{ declaration.client.numero_telephone }}<br/>
        Produit assurance: {{ declaration.produit_assurance.titre|title }}<br/>
    </p>
</div>

{% endblock %}

{% block information %}
    <h2 align="center"><b>I N C I D E N T</b></h2>
    <div class="text_decription_area">
        <ul>
            <li>Date de l'incident: <b>{{ declaration.date_incident }}</b></li>
            <li>Lieu de l'incident: <b>{{ declaration.lieu_incident }}</b></li>
            <li>Nature des blessures: <b>{{ declaration.nature_blessure_verbose }}</b></li>
        </ul>
    </div>

    <h2 align="center"><b>I N F O S &nbsp A D D I T I O N E L S</b></h2>
    <div class="text_additional_area"><p>{{ declaration.information_supplementaire }}</p></div>

{% endblock %}
