{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Declaration</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/declaration.css' %}">
</head>
<body>
<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="/admin/">Portail Client</a></h1>
    </div>
    <div id="user-tools">
        Bienvenue,
        <strong>digitalis</strong>.
        <a href="/">Voir le site</a> /
        <a href="/admin/password_change/">Modifier le mot de passe</a> /
        <a href="/admin/logout/">Déconnexion</a>
    </div>
</div>
<div class="breadcrumbs">
<a href="/admin/">Accueil</a>
> <a href="/admin/client/">Client</a>
> <a href="/admin/client/declaration">Declarations</a>
> {{ declaration.titre }}
</div>
<div class="page">
    <div class="sub_page">


        <h1><i>OnDigitalise.</i></h1>
        <h2 align="center"><br><b>D E C L A R A T I O N</b></h2>

        <p><i>Afin de poursuivre au remboursement de vos frais lors d'incident veuillez remplir ce
            formulaire et le communiquer avec les parents d'élèves. Nous facilitons les procedures liés au remboursement
            en permettant d'avoir une base de données efficaces</i></p>

        {% block coordonees %}
        {% endblock %}
        <div style="clear: both;"></div>
        {% block information %}
        {% endblock %}

    </div>
</div>
</body>
</html>