{% extends 'ecole/declaration_base.html' %}
{% block content %}

<div id="textbox">
    <p class="alignleft">
        {{ declaration.eleve.prenom|title }} {{ declaration.eleve.nom|title }}<br/>
        {{ declaration.eleve.classe|title }}<br/>
        {{ declaration.eleve.date_de_naissance|title }}<br/>
        {{ declaration.eleve.numero_telephone }}<br/>
        {{ declaration.eleve.email }}<br/>
    </p>
    <p class="alignright">
        {{ ecole.nom|title }}<br/>
        {{ ecole.nom_directeur|title }}<br/>
        {{ ecole.adresse|title }}<br/>
        {{ ecole.numero_telephone }}<br/>
        {{ ecole.email }}<br/>
    </p>
</div>

{% endblock %}
