{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Declaration</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/declaration.css' %}">
</head>
<body>
<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="/admin/">OnDigitalise</a></h1>
    </div>
    <div id="user-tools">
        Bienvenue,
        <strong>{{ user.username }}</strong>.
        <a href="/">Voir le site</a> /
        <a href="/admin/password_change/">Modifier le mot de passe</a> /
        <a href="/admin/logout/">Déconnexion</a>
    </div>
</div>
<div class="breadcrumbs">
<a href="/admin/">Accueil</a>
› <a href="/admin/ecole/">Ecole</a>
› <a href="/admin/ecole/eleve">Eleves</a>
› Payement
</div>
<h1 align="center">Vous vous appretez a assurer les eleves suivant:</h1>
<table style="width:60%" align="center">
    <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Date de Naissance</th>
    </tr>
{% for eleve in object_list %}
    <tr>
        <th>{{ eleve.prenom|title }}</th>
        <th>{{ eleve.nom|title }}</th>
        <th>{{ eleve.date_de_naissance|title }}</th>
    </tr>
{% empty %}
    <th>Aucun eleve selectione.</th>
{% endfor %}
</table>
<p align="center"><i>Veuillez verifier les informations fournisent avant d'effectuer votre paiment</i></p>
<div align="right">
    <p > prix total: {{ count }}</p>
</div>

<div style="width: 80%;
margin: auto;
background-color: #417690;
height: 130px; color: white;
padding-top: 10px;
padding-right: 20px; padding-left: 20px;
padding-bottom: 20px;">
    <div class="float-left">
        <p style="color: #f5dd5d;">Payment au guichet</p>
        <ul>
            <li>32 Boulevard de l'Indépendance, Libreville, Gabon</li>
            <li>11 Carrefour Leon Mba, Port Gentil, Gabon</li>
            <li>2 Avenue du Maréchal, Franceville, Gabon</li>
        </ul>
    </div>
    <div class="float-right">
        <p style="color: #f5dd5d;">Payment AirTel Money</p>
        <p style="font-size: 13px">Versez le montant de {{ count }} au +241 06 22 35 75</p>
    </div>
</div>
<div >
    <p align="center"><i  style="color: red" >Les élèves ne seront qu'assuré apres la reception du payment</i></p>
</div>


</body>
</html>